<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="resources/style/estilos.css">
    <title>Document</title>
</head>
<body>
    <article class="index">
        <h1>Bienvenido</h1>
        <% if(login) { %>
            <strong> <%= name %> </strong>
            <a href="logout" class="a-logout">Logout</a>
        <% } else { %>
            <h1><strong><%= name %></strong></h1>
            <a href="login" class="a-login">Iniciar Sesión</a>
        <% } %>
    </article>
</body>
</html>